# Automatically created by ruff.
# Виртуальное окружение uv / python
.venv/
venv/
ENV/
env/
.python-version

# Кэш Ruff
.ruff_cache/

# Кэш байт-кода Python
__pycache__/
*.py[cod]
*$py.class

# Файлы настроек редакторов и IDE
.vscode/
.idea/
*.swp
*.swo

# Системные мусорные файлы
.DS_Store
Thumbs.db
Desktop.ini